/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transtion: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header nav ul{
    display: flex;
}
@media (max-width: 991px) {
    .header nav {
        margin: auto;
    }
}
.header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: black;
    position: relative;
    padding: 0 30px;
    transition: var(--main-transtion);
    overflow: hidden;
}
@media (max-width: 767px) {
    .header nav ul li a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    transition: var(--main-transtion);
    left: -100%;
}
.header nav li a:hover {
    color: var(--main-colo);
    background-color: #FAFAFA;
}
.header nav li a:hover::before {
    left: 0;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transtion);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .container .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}
.landing .container .text h1 {
    font-size: 30px;
}
@media (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
}
.landing .container .text p {
    line-height: 1.7;
    font-size: 23px;
    color: #666;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .container .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .container .text p {
        font-size: 18px;
    }
}
.landing .container img {
    width: 600px;
    max-width: 100%;
    animation: alternate infinite 0.3s;
}
@media (max-width: 991px) {
    .landing .container img {
        display: none;
    }
}
/* End Landing */